.liveMap {
  padding: 20px;
}

.liveMap > h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sensors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.sensor {
}
