.table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  margin: 0 auto;
}

.table td,
.table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}

.table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

.table thead th {
  height: 42px;
}

.table td {
  background-color: transparent;
}

.table td {
  border-bottom: 1px solid #cbcbcb;
}
.table tbody > tr:last-child > td {
  border-bottom-width: 0;
}
