:root {
  --white: #fafafa;
  --black: #222222;
  --green: #1b998b;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
select {
  height: 36px;
  padding: 0 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid color-mod(var(--black) a(0.2));
  appearance: none;
}

input:focus,
select:focus {
  outline: 0;
}

button {
  height: 36px;
  padding: 0 12px;
  font-size: 14px;
  background-color: var(--green);
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: color-mod(var(--green) l(+5%));
}

button:active,
button:focus {
  background-color: color-mod(var(--green) l(-5%));
  outline: 0;
}

button:disabled,
input:disabled {
  background-color: var(--white);
}

#app {
  display: flex;
  flex: 1;
  background-color: var(--white);
}

main {
  flex: 1;
}
