.rulesAndCommands {
  padding: 20px;
}

.title {
  margin-bottom: 10px;
}

.title:not(:first-of-type) {
  margin-top: 20px;
}

.form {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.form > input,
.form > select {
  margin-right: 10px;
}

.rules {
  margin-top: 20px;
}

.rule > span:not(:first-child),
.rule > strong:not(:first-child) {
  margin-left: 4px;
}

.rule > span:not(:last-child),
.rule > strong:not(:last-child) {
  margin-right: 4px;
}
