.rulesAndCommands {
  padding: 20px;
  height: 100%;
}

.title {
  margin-bottom: 10px;
}

.title:not(:first-of-type) {
  margin-top: 20px;
}

.form {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.form > input,
.form > select {
  margin-right: 10px;
}

.save {
  margin-bottom: 20px;
}
