.sidebar {
  width: 60px;
  flex: 1;
  padding: 16px 0;
  background-color: var(--green);
}

.button {
  padding: 0;
  width: 100%;
  border-radius: 0;
}

.button > svg {
  height: 24px;
  width: 24px;
}
