.login {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 350px;
}

.title {
  margin-bottom: 12px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > input {
  margin-bottom: 16px;
}
